{% extends "base.html" %} {% block head %}{{super()}}
{% endblock %}
{% block content %}
  <!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Text Extractor</title>
</head>
<body>
    <div class="container">
    <h1>PDF Text Extractor</h1>
    
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".pdf" required>
        <button type="submit">Extract Text</button>
    </form>
    </div>
    {% if extracted_text %}
        <h2>Extracted Text:</h2>
        <pre>{{ extracted_text }}</pre>
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>

{% endblock %}
