{% extends "base.html" %} {% block head %}{{super()}}
{% endblock %}
{% block content %}
<style>
.rectangle {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 30%;
    display: flex;
    flex-direction: column;
    background: #D9D9D9;
    border-radius: 129px;
    padding: 10px;
    justify-content:space-around;
    }
.hidden_text{
    display: block;
    opacity: 0;
    position: absolute;
    background-color: rgb(0, 0, 0,0.9);
    top: 0%;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    left: 0%;
    color: aqua;
}
.rectangle button{
    position: relative;
    top: -400%;
    left: 10%;
    width: 25%;
    height: 1000%;
    cursor: pointer;
    text-align: center;

}
.rectangle button:hover{
    transform: scale(0.9);
    transition: 0.5s;
  }
.hidden_text:hover{
  opacity: 0.7;
  transition: 0.5s;
}
.content_pdf,.content_edit,.content_format,.content_extract,.content_chatbot,.content_help{
  transform: translateY(90%);
  transition: 0.6s;
}


  </style>
<div class="rectangle">
    <div class="First_3">
    <button style="background-image: url('./static/assets/pdf.png');background-size:cover;border-radius: 10px;justify-items: center;text-align: center;" 
    onclick="redirectToAnotherPage('pdf-editor')" 
    onmouseover="content_animation_start('pdf')" 
    onmouseout="content_animation_end('pdf')">
    <div class="hidden_text">
      <div class="content_pdf">
      <h1>Edit pdfs</h1>
      <h3>Split,Merge,compress</h3>
      </div>
    </div>
    </button>
    <button style="background-image: url('./static/assets/convert.png');background-size: cover;border-radius: 10px;"
    onclick="redirectToAnotherPage('convert-format')"
    onmouseover="content_animation_start('format')" 
    onmouseout="content_animation_end('format')">
    <div class="hidden_text">
      <div class="content_format">
      <h1>Change format</h1>
      <h3>Convert the format of images</h3>
    </div>
    </button>>
    <button style="background-image: url('./static/assets/edit.png');background-size: cover;border-radius: 10px;"
    onclick="redirectToAnotherPage('edit-image')"
    onmouseover="content_animation_start('edit')" 
    onmouseout="content_animation_end('edit')">
    <div class="hidden_text">
      <div class="content_edit">
      <h1>Edit Images</h1>
      <h3>Rotate,Crop,Filter & much more...</h3>
      </div>
    </div>
    </button>>
    </div><div class="Second_3">
    <button style="background-image: url('./static/assets/extract.png');background-size: cover;border-radius: 10px;"
    onclick="redirectToAnotherPage('extract-data')"
    onmouseover="content_animation_start('extract')" 
    onmouseout="content_animation_end('extract')">
    <div class="hidden_text">
      <div class="content_extract">
      <h1>Extract Data</h1>
      <h3>Extract text and images from pdf</h3>
      </div>
    </div>
    </button>
    <button style="background-image: url('./static/assets/chatbot.png');background-size: cover;border-radius: 10px;"
    onclick="redirectToAnotherPage('chatbot')"
    onmouseover="content_animation_start('chatbot')" 
    onmouseout="content_animation_end('chatbot')">
    <div class="hidden_text">
      <div class="content_chatbot">
      <h1>Chatbot</h1>
      <h3>Turn Imagination into Image</h3>
      </div>
    </div>
    </button>
    <button style="background-image: url('./static/assets/help.png');background-size: cover;border-radius: 10px;"
    onclick="redirectToAnotherPage('help')"
    onmouseover="content_animation_start('help')" 
    onmouseout="content_animation_end('help')">
    <div class="hidden_text">
      <div class="content_help">
      <h1>Need help?</h1>
      <h3>Help Centre</h3>
      </div>
    </div>
    </button>
    </div>
</div>
<script>
    function redirectToAnotherPage(option) {
      window.location.href = "/" + option;
    }
    function content_animation_start(option){
      document.getElementsByClassName("content_"+option)[0].style.transform = "translateY(50%)";
    }
    function content_animation_end(option){
      document.getElementsByClassName("content_"+option)[0].style.transform = "translateY(90%)";
    }
  </script>
{% endblock %}