<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_index.css')}}">
    
    <title>Your Website</title>
</head>
<body>

    <!-- Splash Screen -->
    <div id="header">
        <h1 id="title">ImageIQ</h1>
        <p id="description">Now all the image processing functions in your finger tips.Welcome to ImageIQ, your one-step solution for all your image processing needs.
            With our easy-to-use interface and powerful processing tools, you can edit and enhance your images like a pro.</p>
      </div>
    <button id="cta" onclick=redirectToAnotherPage()>GET STARTED</button> 
    <script>
        function redirectToAnotherPage() {
          window.location.href = "/home";
        }
      </script>
</body>
</html>

