{% extends "base.html" %} {% block head %}{{super()}}
{% endblock %}
{% block content %}
<style>
body {
    font-family: Arial, sans-serif;
   }
   
   .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
   }
   
   h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.69);
   }
   
   h2 {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: rgba(0, 0, 0, 0.69);
   }
   
   p {
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    text-align: center;
    color: rgba(67, 67, 67, 0.62);
    margin-top: 2em;
   }
.button-72{
  margin: 20px;
  width: auto;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 2px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction:row;
  font-family: Quicksand,sans-serif;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  height: 50px;
}
.button-71{
  margin: 20px;
  width: auto;
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 2px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  flex-direction:row;
  font-family: Quicksand,sans-serif;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}
.button-72:hover,.button-71:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72,.button-71 {
    font-size: 21px;
    padding: 18px 34px;
  }
}


.horizontal-centre{
  display: flex;
  width: fit-content;
  border: solid #391F5B;
  margin: 0;
  left: 50%;
  position: relative;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 2em;
}
li{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */
  text-align:start;

  color: rgba(0, 0, 0, 0.69);
  }
  input[type="file"]::file-selector-button {
  border-radius: 2px;
  padding: 16px;
  height: 50px;
  cursor: pointer;
  background-color: white;
  border:1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.collapse_window_for_split{
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}



</style>
<div class="container">
    <h1>Your PDF editing companion</h1>
    <p>Edit pdf file for free.</p>
    <button onclick="window.location.href='#continue'" type="submit" class="button-72" style=" border-radius: 50px; -ms-transform: translateX(-50%);transform: translateX(-50%);left: 50%;position: relative;">
      &nbsp;&nbsp;&nbsp;CONTINUE&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-o-right" style="font-size: 48px;" ></i></button>
    <br>
    <p>Your files stays private. We respect your privacy and delete the files within 1 hour</p>
    <h2>What can I do with ImageIQ (pdf files)</h2>
    <ol>
      <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li id="continue">Split PDF</li>
        <button class="button-71" onclick="expand('split')"><i class="fa fa-check-square" id="user_button_for_split"></i></button>
      </div>
    <div id="collapse_window_for_split" style="display: none;">
        <h2>PDF Splitter</h2>
        <form action="split_pdf" method="post" enctype="multipart/form-data">
        <label for="startPage">Number range:</label>
        <input id="startPage" name="startPage" required>
        <div class="horizontal-centre" style="margin-top: 2rem;">
          <input type="file" id="pdf_file" name="file" accept=".pdf"  required >
          <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
        </div>
        </form>
        <br>
      </div>
    <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li>Merge PDF</li>
      <button class="button-71" onclick="expand('merge')"><i class="fa fa-check-square" id="user_button_for_merge"></i></button>
    </div>
    <div id="collapse_window_for_merge" style="display: none;">
      <h2>Merged pdf</h2>
      <form action="merge_pdf" method="post" enctype="multipart/form-data">
      <div class="horizontal-centre" style="margin-top: 2rem;">
        <input type="file" id="pdf_file" name="file" accept=".pdf"  required multiple>
        <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
      </div>
    </form>
    </div>
    <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li>ENCRYPT PDF</li>
      <button class="button-71" onclick="expand('encrypt')"><i class="fa fa-check-square" id="user_button_for_encrypt"></i></button>
    </div>
    <div id="collapse_window_for_encrypt" style="display: none;">
      <h2>PDF Encryptor</h2>
    <form action="encrypt_pdf" method="post" enctype="multipart/form-data">
        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="password" required>
        <div class="horizontal-centre" style="margin-top: 2rem;">
          <input type="file" id="pdf_file" name="file" accept=".pdf"  required >
          <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
        </div>
    </form>
    </div>
    <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li id="continue">Rotate PDF</li>
      <button class="button-71" onclick="expand('rotate')"><i class="fa fa-check-square" id="user_button_for_rotate"></i></button>
    </div>
  <div id="collapse_window_for_rotate" style="display: none;">
      <h2>PDF Rotator</h2>
      <form action="split_pdf" method="post" enctype="multipart/form-data" style="align-items: center;">
      <label for="startPage">Number range:</label>
      <input id="startPage" name="startPage" required>
      <br>
      <br>
      <label for="angle">Angle:</label>
      <input type="number" id="angle" name="angle" required>
      <div class="horizontal-centre" style="margin-top: 2rem;">
        <input type="file" id="pdf_file" name="file" accept=".pdf"  required >
        <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
      </div>
      </form>
      <br>
    </div>
    <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li id="continue">Compress PDF</li>
      <button class="button-71" onclick="expand('compress')"><i class="fa fa-check-square" id="user_button_for_compress"></i></button>
    </div>
  <div id="collapse_window_for_compress" style="display: none;">
      <h2>PDF Compressor</h2>
      <form action="split_pdf" method="post" enctype="multipart/form-data">
      <label for="startPage">Number range:</label>
      <input id="startPage" name="startPage" required>
      <div class="horizontal-centre" style="margin-top: 2rem;">
        <input type="file" id="pdf_file" name="file" accept=".pdf"  required >
        <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
      </div>
      </form>
      <br>
    </div>
    <div style="display: flex; justify-content: space-between;border:1px solid rgba(0, 0, 0, 0.8);"><li id="continue">Add watermark to PDF</li>
      <button class="button-71" onclick="expand('watermark')"><i class="fa fa-check-square" id="user_button_for_watermark"></i></button>
    </div>
  <div id="collapse_window_for_watermark" style="display: none;">
      <h2>Add watermark to PDF</h2>
      <form action="split_pdf" method="post" enctype="multipart/form-data">
      <label for="watermark_file">Watermark File</label>
      <input type="file" id="watermark_file" name="watermark_file" required>
      <div class="horizontal-centre" style="margin-top: 2rem;">
        <input type="file" id="pdf_file" name="file" accept=".pdf"  required >
        <button type="submit" class="button-72"><i class="fa fa-upload" ></i></button>
      </div>
      </form>
      <br>
    </ol>
    <script>
      List = ["split","merge","encrypt","rotate","compress","watermark"];
      function expand(option){
        if (document.getElementById("collapse_window_for_"+option).style.display == "block"){
          document.getElementById("collapse_window_for_"+option).style.display = "none";
        document.getElementById("user_button_for_"+option).className="fa fa-check-square";
        }else{
        document.getElementById("collapse_window_for_"+option).style.display = "block";
        document.getElementById("user_button_for_"+option).className="fa fa-times";}
        collapse_except(option)
      }
      function collapse_except(option){
        for (var i = 0; i < List.length; i++) {
          if (List[i] != option){
            document.getElementById("collapse_window_for_"+List[i]).style.display = "none";
            document.getElementById("user_button_for_"+List[i]).className="fa fa-check-square";
          }
        }
      }
    </script>
    <br>
{% endblock %}