{% extends "base.html" %} {% block head %}{{super()}}
{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload PDF</title>
</head>
<body>
    <h1>Upload PDF to Extract Images</h1>
    <div class="container">
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdf" accept=".pdf" required>
        <button type="submit">Upload PDF</button>
    </form>
    </div>
</body>
</html>

{% endblock %}
